.heading{
    text-align: center;
    color:darkgreen;
    border: red solid 2px;
    width: 100%;
    font-size: x-larger;
    padding: 15px;
}
.button-del {
background-color:rgb(255, 217, 0);
border: rgb(0, 89, 255) solid 2px;
/*display:flex;
flex-direction: column;*/
align-items: center;
justify-content: center;
font-size: calc(10px+2vmin);
color: rgb(4,80,11);
width: 100%;
padding: 20px;
line-height: 15px;
}
.container{
    background-color: beige;
    border: red solid 2px;
    color: rgb(4,8,11);
    width: 75%;
    padding: 20px;
    line-height: 30px
}
